.card {
  cursor: pointer;
}

.card.completed {
  background-color: green;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header i {
  color: red;
}
