<div *ngIf="!admin" class="login">
  <form [formGroup]="login" (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
<div *ngIf="admin" class="login">
  <h1>Welcome!!!</h1>
  <button (click)="Logout()" class="btn btn-primary btn-block">Log out</button>
</div>
