<div class="add-task">
  <button class="btn btn-success" (click)="open(content)">Add Task</button>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" (ngSubmit)="addTask()">
        <div class="mb-3">
          <label for="title">Task</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            placeholder="Input task"
            required
          />
          <label for="date">Deadline</label>
          <div class="input-group">
            <input
              id="date"
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="date"
              type="text"
              formControlName="date"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Add task
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
